<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">Work Chronicle</a>

            <div class="collapse navbar-collapse d-inline-flex flex-row justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav nav-tabs">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="AccessManagement">Access Management</a>
                        </li>
                    }
                </ul>

                <ul class="navbar-nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Analytics" asp-action="Index">Analytics</a>
                    </li>
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer bg-dark">
    <div class="container text-light">
        &copy; @DateTime.Now.Year AnDroyide
    </div>
</footer>  
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>