@import url("Projects/projects.css");

@import url("Tasks/create-task.css");
@import url("Tasks/task.css");

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.txt {
    width: 300px;
    margin-bottom: 5px;
}

.inputs {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    padding: 15px;
    max-width: 320px;
    background: rgba(255, 255, 255, 0.75);
}

.form {
    margin: 30px;
}

.navbar {
    box-shadow: 0 5px 15px black;
}

.about {
    margin: 70px 0px;
}

.card {
    margin-top: 15px;
    box-shadow: 0px 0px 20px;
    background: rgba(255, 255, 255, 0.75);
}

.content {
    margin: 50px auto;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 25px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 -5px 15px black;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #343a40;
    border-radius: 10px;
    margin: 10px 0px;
}

#global-page {
    margin-bottom: 70px;
}

#page-title {
    text-align: center;
}

.invalid-input {
    border-color: #ea868f;
}