@model WorkChronicle.ViewModels.RegisterViewModel

<div class="form d-flex flex-column align-items-center">
    <h2 class="mb-5">Registration</h2>
    <div class="inputs d-flex justify-content-center m-auto">
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="FirstName"></label><br />
                <input class="txt" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                <label asp-for="LastName"></label><br />
                <input class="txt" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <label asp-for="Email"></label><br />
                <input class="txt" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input class="txt" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm"></label><br />
                <input class="txt" asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </form>
    </div>
</div>