@model WorkChronicle.ViewModels.CreateProjectViewMode

<div class="form d-flex flex-column align-items-center">
    <h2 class="mb-5">Create Project</h2>
    <div class="inputs d-flex justify-content-center m-auto">
        <form method="post" asp-controller="Home" asp-action="CreateProject">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="ProjectName"></label><br />
                <input class="txt" asp-for="ProjectName" />
                <span asp-validation-for="ProjectName"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <input type="submit" value="Create" />
                </div>
            </div>
        </form>
    </div>
</div>