@model IEnumerable<OnlineShop.Models.Product>
@{
    ViewBag.Title = "Product List";
}

<table class="table">
    <tr><th>Product Name</th><th>Cost</th><th></th></tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Cost</td>
            <td>
                <form asp-action="DeleteProduct" asp-route-id="@product.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditProduct" asp-route-id="@product.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<a class="btn btn-sm btn-primary" asp-action="CreateProduct">Add new product</a>