@{
    ViewData["Title"] = "Tasks";
}
@model WorkChronicle.ViewModels.ProjectListViewModel

<div class="row mt-4">
    <h1 id="page-title">Tasks</h1>
</div>

<div id="tasks-page" class="row">
    <div class="col-12">
        <a type="button" class="btn btn-sm btn-primary" asp-controller="Tasks" asp-action="CreateTask">
            Add new Task
        </a>
    </div>
</div>