@{
    ViewData["Title"] = "Log time";
}

@model WorkChronicle.ViewModels.Tasks.TicketViewModel

<div class="row mt-4">
    <h1 id="page-title">Log time</h1>
</div>

<div id="time-track-page">
    <input type="hidden" class="form-control" id="task-id" value="@Model.Id">

    <div class="row option">
        <div class="col-2"><span>Duration:</span></div>
        <div class="col-10"><input class="form-control" type="number" id="duration"></div>
    </div>

    <div class="row option">
        <div class="col-2"><span>Comment:</span></div>
        <div class="col-10"><textarea class="form-control" id="comment"></textarea></div>
    </div>

    <div class="row option">
        <div class="col-2"><span>Place:</span></div>
        <div class="col-10"><select id="place-ddl" class="form-select" aria-label="Default select example"></select></div>
    </div>

    <button id="btn-save-record" class="btn btn-primary">Save</button>
</div>

<script>
    $(document).ready(function () {
        const page = new LogTime();
        page.Init();
    });
</script>