
@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @User.Identity.Name</h1>
}
else
{
    <h1>Welcome to Awesome Home</h1>
    <p>Please log in to continue</p>
}